

.page {
  padding-left: 400px;
}

.prune-btn {
  padding: 5px 5px;
  width: 100%;
  text-align: center;
}

.create-btn {
  text-decoration: none;
}

.container-table{
width: 971px;
}

.table-container{
  
  margin: 100px auto;
  padding: 10px;
    width: 971px;
  border-radius: 20px;
  border: 0.5px solid white; /* or any desired color */
  transform: rotate(0deg);
  opacity: 1;
}

.con-table-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 10px;
}