body.login-body{
  background-color: #040026;
  color: white;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.form-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wharfLogo {
  max-width: 300px;
}

.wharfLogo img {
  width: 100%;
  height: 100%;
}

.loginDiv {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginH {
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
}

.label {
  font-size: 20px;
  font-weight: bold;
  padding: 0 5px;
}

.inputDiv {
  padding: 5px 1px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputDiv input {
  border-radius: 5px;
  font-weight: medium;
  color: black;
  font-size: 15px;
  padding: 5px;
  border: none;
  margin-top: 5px;
  height: 30px;
}

.p {
  padding: 0;
  color: black;
}

.iDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
}

.iDiv button {
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background-color: #072330;
  width: 100%;
  color: white;
  margin-top: 10px;
  height: 40px;
  margin-bottom: 30px;
  border: none;
}

.forPas {
  cursor: pointer;
  color: blue;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}

@media only screen and (min-width: 1024px) {
  .form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0 50px;
  }
  .wharfLogo {
    max-width: 500px;
  }
}

@media only screen and (min-width: 2560px) {
  .form-container {
    max-width: 1900px;
    margin: auto;
  }
}
