body.login-body{
  background-color: #040026;
  color: white;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  margin: 150px 0;
}

.wel-text {
  width: 430px;
  height: 208px;
  position: absolute; /* required for top/left to take effect */
  top: 454px;
  left: 117px;

  transform: rotate(0deg); /* angle */
  opacity: 1;

  font-family: 'Lato', sans-serif;
  font-weight: 800; /* ExtraBold */
  font-style: normal; /* ExtraBold is weight, not style */
  font-size: 96px;
  line-height: 104px;
  letter-spacing: 0;
}

.wharfLogo {
  width: 230px;
  height: 188px;
  transform: rotate(0deg); 
  opacity: 1;
  position: absolute; 
  top: 52px;
  left: 62px;
}

.wharf-text {
  width: 115px;
  height: 72px;
  transform: rotate(0deg); /* for angle */
  opacity: 1;
  position: absolute; /* required for top/left to work */
  top: 192px;
  left: 119px;

  font-family: 'Comfortaa', sans-serif;
  font-weight: 700; /* Bold */
  font-style: normal;
  font-size: 36px;
  line-height: 72px;
  letter-spacing: 1%;
  
  color: #469DDD; 
  display: flex;
  align-items: center;
  justify-content: center;
}


.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.loginDiv {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginH {
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
}

.label {
  font-size: 20px;
  font-weight: bold;
  padding: 0 5px;
}

.inputDiv {
  padding: 5px 1px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputDiv input {
  border-radius: 5px;
  font-weight: medium;
  color: black;
  font-size: 15px;
  padding: 5px;
  border: none;
  margin-top: 5px;
  height: 30px;
}

.p {
  padding: 0;
  color: black;
}

.iDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
}

.iDiv button {
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background-color: #072330;
  width: 100%;
  color: white;
  margin-top: 10px;
  height: 40px;
  margin-bottom: 30px;
  border: none;
}

.forPas {
  cursor: pointer;
  color: blue;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}
