.container-det {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  margin: auto;
  border: 0.5px solid white;
  border-radius: 20px;
  width: 971px;
}

.cont-div {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cont {
  font-size: 50px;
  font-family: cursive;
  color: white;
  word-break: break-word;
}

.cont-span {
  display: flex;
  justify-content: center;
}

.pad {
  padding-top: 20px;
}

.cont-l {
  font-size: 30px;
  font-family: cursive;
  color: white;
  word-break: break-word;
}

.sp {
  color: white;
}

.lab {
  padding: 2px 2px;
  text-align: center;
}

.del-btn {
  background-color: red;
}

.btn {
  display: inline;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

input[type='checkbox'] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  accent-color: #007bff; /* Custom color for the checkbox (modern browsers) */
}

label {
  font-size: 16px;
  color: #333;
}
