.container-det {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 0.5px solid white;
  border-radius: 20px;
  width: 971px;
}

.con-det-h{
  border-bottom: 0.5px solid white;
  width: 100%;
  padding: 20px 20px;
  display: flex;
  align-items: center;
}

.con-det-hd{
  font-family: 'Lato', sans-serif;
  font-weight: 500;       /* Medium weight */
  font-style: normal;     /* "Medium" is a weight, not a style */
  font-size: 28px;
  padding: 0 5px;
}

.con-det-hd-img{
  width: 30px;
  height: 36px;
}

.con-det-buts{
  margin-left: auto;
}

.cont-div {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cont {
  font-size: 50px;
  font-family: cursive;
  color: white;
  word-break: break-word;
}

.det-btn {
width: 125px;
height: 38px;
border-radius: 12px;
background-color: #2E2C2C;
color: white;
font-family: 'Lato', sans-serif;
  font-weight: 500;       /* Medium weight */
  font-style: normal;     /* Medium is a weight, not a style */
  font-size: 18px;
cursor: pointer;
margin-left: 10px;
}

.cont-span {
  display: flex;
  justify-content: center;
}

.pad {
  padding-top: 20px;
}

.cont-l {
  font-size: 30px;
  font-family: cursive;
  color: white;
  word-break: break-word;
}

.sp {
  color: white;
}

.lab {
  padding: 2px 2px;
  text-align: center;
}

.del-btn {
  background-color: red;
}

.btn {
  display: inline;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

input[type='checkbox'] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  accent-color: #007bff; /* Custom color for the checkbox (modern browsers) */
}

label {
  font-size: 16px;
  color: #333;
}
