.page {
  padding-left: 400px;
}

.us-det {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 0.5px solid white;
  border-radius: 20px;
  width: 971px;
  margin-top: 100px;
}

.us-det-h {
  border-bottom: 0.5px solid white;
  width: 100%;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  height: 100px;
}

.us-det-hd {
  font-family: 'Lato', sans-serif;
  font-weight: 500; /* Medium weight */
  font-style: normal; /* "Medium" is a weight, not a style */
  font-size: 28px;
  padding: 0 5px;
}

.us-det-hd-us {
  width: 30px;
  height: 36px;
}

.us-det-buts {
  margin-left: auto;
}

.del-btn {
  width: 125px;
  height: 38px;
  border-radius: 12px;
  background-color: #2e2c2c;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 500; /* Medium weight */
  font-style: normal; /* Medium is a weight, not a style */
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}

.btn-logo {
  margin-right: 10px;
}

.us-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.us-table th {
  padding: 30px 12px;
  border-bottom: 0.5px solid white;
  font-weight: 500;
  font-style: medium;
  font-size: 24px;
}

.us-table td {
  padding: 12px;
  border-bottom: 0.5px solid white;
}

.popup-overlay {
  display: none;

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: rgba(0, 0, 0, 0.5);
}

.popup {
  min-width: 220px;

  font-family: Arial, sans-serif;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  background: rgb(201, 227, 231);

  padding: 20px;

  border-radius: 8px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-content {
  text-align: center;
}

.popup .close {
  position: absolute;

  top: 10px;

  right: 10px;

  font-size: 20px;

  cursor: pointer;

  color: #333;
}

.popup button {
  background-color: #4caf50;

  color: #fff;

  padding: 10px 20px;

  border: none;

  border-radius: 4px;

  cursor: pointer;

  font-size: 16px;
}

.popup input {
  width: 80%;

  padding: 10px;

  margin: 10px 0;

  border: 1px solid #ddd;

  border-radius: 4px;
}

.submit {
  display: block;
  margin: auto;
}
