.td-sp-nm {
  cursor: pointer;
  color: #0099ff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 22ch;
  min-width: 22ch;
  text-decoration: none !important;
}

.td-sp-nm:hover {
  color: #007acc;
}
