
.container-det{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont-div{
    padding: 5px;
}

.cont {
    font-size: 50px;
    font-family:cursive;
    color: rgb(5, 5, 82);
}

.pad{
    padding-top: 20px;
}

.cont-l{
    font-size: 30px;
    font-family: cursive;
    color: rgb(5, 5, 82);
}

.sp {
    color: rgb(4, 4, 158);
}

.lab{
    padding: 2px 2px;
}

.del-btn{
    background-color: red;
}

.btn{
    display: inline;
}