.nav {
  background-color: #292727;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 400px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.nav-links {
display: flex;
flex-direction: column;
}

.nav-logo {
  width: 188px;
height: 218px;
top: 37px;
left: 135px;
}

.logout-btn {
  background-color: red;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 16px;
}
