.nav {
  background-color: #1F1C1C;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 400px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.nav-logo-text {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-style: normal; /* 'Bold' is not a valid value for font-style */
  font-size: 24px;
  line-height: 72px;
  letter-spacing: 1%;
  color: #469DDD;
  width: 77px;
  height: 72px;
  position: absolute;
  top: 150px;
  left: 152px;
  transform: rotate(0deg);
  opacity: 1;

}

.nav-links {
display: flex;
flex-direction: column;
}

.nav-logo {
  width: 188px;
height: 218px;
top: 37px;
left: 135px;
}

.logout-btn {
  background-color: red;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 16px;
}
