.nav {
  height: 80px;
  width: 100%;
  background-color: rgb(65, 146, 223);
  display: flex;
}

.logo {
  height: 100%;
  width: 80px;
}

.nav-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}

.nav-cont div {
  padding: 10px 20px;
}

.link {
  color: rgb(73, 7, 148);
  font-size: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  text-decoration: none;
}
