.user-card {
  background-color: rgb(92, 141, 153);
  border-radius: 10px;
  border: 2px solid rgb(4, 24, 110);
  padding: 10px 10px;
  color: rgb(4, 24, 110);
}

.label {
  font-size: 20px;
  font-weight: 500;
  word-break: break-word;
}

.content {
  padding: 4px 0;
}

.btn {
  background-color: rgb(4, 24, 110);
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  margin: 2px 2px;
}
